@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Noto Sans', sans-serif; 
}

header {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #F9F7F4;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  font-family: 'Noto Sans', sans-serif;
  color: #2F2E2E;
}
.logo img {
  height: 50px; 
  margin-left: 60px;
}

nav ul {
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: #285A84;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.2s ease;
}

nav a:hover {
  color: #C2EF7E;
}
 
header a {
  color:#285A84;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold; 
  border-radius: 5px;
  padding: 10px 15px;
  transition: all 0.3s ease;
}

header a:hover { 
  color: #C2EF7E;
} 
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 40px; 
}

li:last-child {
  margin-right: 60px;
}

.hero {
  background-image: url('https://images.unsplash.com/photo-1568376794508-ae52c6ab3929?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8Zm9vZHx8fHx8fDE2ODA0MTg0MTY&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600');
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  text-align: center;
  color: #fff; 
  text-shadow: 3px 0 #080808;
} 

.hero-content h1 {
  font-size: 5rem;
  margin: 0;

}

.hero-content p {
  font-size: 2rem;
  margin-bottom: 2rem; 
}

.button {
  display: inline-block;
  background-color: #fff;
  color: #000;
  padding: 1rem 2rem;
  border-radius: 2rem;
  text-decoration: none;
  font-size: 1.5rem;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: #000;
  color: #fff;
}



.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  display: grid;
  gap: 20px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
}

.menu-item {
  width: calc((100% - 40px) / 3);
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.menu-item:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.menu-item img {
  margin: auto;
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
}

.menu-item h2 {
  margin: 0;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.menu-item p {
  margin: 0;
  padding: 10px;
  font-size: 16px;
  color: #666;
}

.menu-item span {
  display: block;
  margin: 0;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  background-color: #f2f2f2;
  text-align: right;
}

.button {
  display: inline-block; 
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  background-color: #4A9655;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color:#85C872;
}
.historicopedidos {
  background-color: #f2f2f2;
  padding: 120px;
  margin-top: 150px;
  align-items: center;
  text-align: center;
}

.historicopedidos h2 {
  font-size: 44px;
  margin-bottom: 10px;
}

.historicopedidos button {
  background-color:#4A9655;
  color: #fff;
  width: 260px;
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px; 
  cursor: pointer;
}

.historicopedidos button:hover {
  background-color: #85C872;
}

.historicopedidos .btnproblema {
  background-color: #e74c3c;
}

.historicopedidos .btnproblema :hover {
  background-color: #c0392b;
}
footer {
  background-color: #f2f2f2;
  color: #777;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  margin-top: 50px;
}

footer a {
  color: #777;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  header {
    padding: 10px;
  }

  .logo img {
    margin-left: 10px;
  }

  nav ul {
    display: none;
  }

  .nav-toggle {
    display: block;
    padding: 10px;
    margin-right: 10px;
    color: #285A84;
    font-size: 24px;
    cursor: pointer;
  }

  .nav-expanded ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  header h1{
    font-size: 20px;
  }
  header a {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
  }
  .button{
    font-size: 10px;
  }
  .hero{
    height: 300px;
  }
  .hero-content h1 {
    font-size: 40px;
  }

  .hero-content p {
    font-size: 16px;
    padding: 2px;
  }

  .container {
    padding: 20px;
  }

  .historicopedidos {
    padding: 60px;
    margin-top: 80px;
  }

  .historicopedidos h2 {
    font-size: 28px;
  } 
  .menu-item h2{
    font-size: 15px; 
    margin: 0;
    text-align: center;
  }
  .menu-item span{
    font-size: 10px;
    margin-top: 10px; 
  }
  .menu-item p{
    font-size: 12px;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    min-height: 50px;
  }
  .menu-item a{ 
    width: 90px;
    padding: 10px;
    margin: 10px; 
  }
  .menu-item .button {
    align-self: flex-end;
  }
  .menu {   
    gap: 10px; 
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}
  .menu-item{
    height: 300px;
    width: calc((100% - 40px) / 3);
    justify-content: space-between; 
  }
}